html, body{
    margin: 0;
    width: 100%;
}
.list{
    background-color: rgb(182, 255, 255);
    width: 50%;
    margin: 0 auto;
}
.news{
    border-bottom: 2px solid;
    padding: 10px;
}
p{
    font-weight: 700;
    font-size: x-large;
    margin: 5px
}
.btn-1,.btn-2,.btn-3{
    text-align: center;
}
button{
    background-color: rgb(0, 196, 0);
    color: white;
    padding: 7px;
    border: none;
    border-radius: 7px;  
}
button:hover{
    cursor: pointer;
}
.popup-1,.popup-2,.popup-3
{
    position: absolute;
    width: 30%;
    height: 300px;
    top: 25%;
    text-align: center;
    background-color: rgb(255, 255, 93);
    margin-left: 10%;
    padding: 10px;
    
}
.news:hover{
    background-color: rgb(248, 94, 94);
}
.popup-1 p,.popup-2 p,.popup-3 p{
    margin-top: 10px;
    margin-bottom: 40px;
}
.popup-1 span,.popup-2 span,.popup-3 span{
    font-size: 25px;
}
